Repository lab-brussels-1/all-about-trees-2, pull requests merged in 2022-03, with the labels that each got.

#2 fennyschedule
  package-lock.json
  planning/communication-plan.md
  planning/design.md
Labels: communication, planning

#3 added Kaveh availability
  planning/communication-plan.md
Labels: documentation, communication, planning

#4 Ali communication
  .gitignore
  .htmlvalidateignore
  .prettierignore
  LICENSE
  planning/communication-plan.md
Labels: communication, planning

#10 shewit availability
  planning/communication-plan.md
Labels: communication, planning

#11 Added the webpage design sketch
  .DS_Store
  planning/assets/sketch.png
  planning/design.md
Labels: planning, design

#16 added to development-strategy and constraints md files
  planning/constraints.md
  planning/development-strategy.md
Labels: planning, development strategy

#20 backlog description added
  planning/assets/.DS_Store
  planning/backlog.md
Labels: backlog, planning

#25 updating communication-plan
  .cspell.json
  planning/communication-plan.md
Labels: communication, update

#22 introduction content added
  index.html
  styles/index.css
Labels: html, css, development strategy

#19 site-title html and css added as discussed in development-strategy
  index.html
  styles/index.css
Labels: html, css, site-title

#21 content all about trees
  index.html
  planning/assets/foresteco.jpg
  planning/assets/foresteco.jpg:Zone.Identifier
  planning/assets/happy-tree.jpg
  planning/assets/happy-tree.jpg:Zone.Identifier
  planning/assets/pinetrees.jpg
  planning/assets/pinetrees.jpg:Zone.Identifier
  planning/assets/treetrunks.jpg:Zone.Identifier
  planning/assets/treetrunkss.jpg
  planning/assets/treetrunkss.jpg:Zone.Identifier
  styles/index.css
Labels: html, css, development strategy

#28 Added user persona 1
  planning/user-personas.md
Labels: planning

#30 tree animation added
  index.html
  planning/.DS_Store
  planning/assets/growing-tree.jpeg
  styles/index.css
Labels: html, css

#31 added a second user-persona
  planning/user-personas.md
Labels: planning

#32 adding readme file
  .cspell.json
  planning/README.md
  planning/assets/screenshotweb.png
  planning/assets/screenshotweb.png:Zone.Identifier
Labels: planning

#35 added to the retrospective.md
  planning/retrospective.md
Labels: planning, retrospective

#36 extra-info added
  index.html
  styles/index.css
Labels: html, css, extra-info

#37 created a footer with contact links
  index.html
  styles/index.css
Labels: html, css

#38 updating readme file
  README.md
  planning/README.md
  planning/assets/Screenshottree.png
  planning/assets/Screenshottree.png:Zone.Identifier
Labels: planning, update

#39 added constraints
  .cspell.json
  planning/constraints.md
Labels: planning
